nav {
  display: flex;
  height: 8%;
  justify-content: center;
  align-items: center;
  margin: 2px;
  background-color: rgb(254, 215, 171);

  * {
    flex: 1;
    font-size: 4vh;
    text-decoration: none;
    color: rgb(243, 92, 41);
    margin-left: 20%;
   
  }
  *:hover{
    color:rgb(144, 85, 17) ;
  }
}